body {
    font-family: Arial, sans-serif;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

/* section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-family: monospace;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} */

header {
    display: flex;
    align-items: center;
    padding: 20px;

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;

        #github-button {
            background-color: transparent;
            padding: 10px 20px;
            border: 2px solid black;
            color: black;
            font-size: 16px;
            border-radius: 20px;
            font-weight: bold;
        }
    }
}

.header-logo {
    display: flex;
    align-items: center;
    width: 200px;

}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh; 

    .main-section {
        border: 1px solid red;
        height: 100vh;
    }

    #left-section {
        flex: 1;
    }

    #right-section {
        flex: 1;
    }

    #center-section {
        flex: 2;
    }
}