* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
    /* overflow: hidden; */
}

/* section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-family: monospace;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} */

header {
    display: flex;
    align-items: center;
    padding: 20px;

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;

        #github-button {
            background-color: transparent;
            padding: 10px 20px;
            border: 2px solid black;
            color: black;
            font-size: 16px;
            border-radius: 20px;
            font-weight: bold;
        }
    }
}

.header-logo {
    display: flex;
    align-items: center;
    width: 200px;

}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;

    .main-section {
        /* border: 1px solid red; */
        height: 80vh;
        box-sizing: border-box;
    }

    #left-section {
        flex: 1;
    }

    #right-section {
        flex: 1;
    }

    #center-section {
        flex: 2;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;

        #createTeam {
            padding: 20px;
            font-size: 24px;
            background-color: rgb(245, 245, 245);
            width: 200px;
            margin: auto;
            cursor: pointer;
            border-radius: 20px;

            &:hover {
                border: 1px solid #dfdfdf;
                
            }
        }

    }
}

footer {
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#createTeamForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

#teamName {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}


#addTeam {
    padding: 10px 20px;
    font-size: 16px;
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #6b6bff;
    border: none;
    color: white;
    font-weight: bold;
    
    &:hover {
        background-color: #b587f8;
    }
}

#addTeamMemberForm {
    width: 100%;
    height: 100%;
    display: flex;  
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.teamFormInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}

#teamMemberSkill {
    width: 100%;
}