{% extends 'masterTemplate.html' %}

{% block Centercontent %}
<div id="addTeamMemberForm">
    <h1>ADD NEW MEMBER</h1>
    <section id="section1" class="addNewMemberSection">
        <div>
            <input type="text" id="teamMemberName" name="teamMemberName" class="teamFormInput"
                placeholder="Member Name" required>
            <input type="text" id="teamMemberAvailability" name="teamMemberAvailability" class="teamFormInput"
                placeholder="Availability Hours" required>
        </div>
        <div class="container">
            <div class="skills-box" id="skillsBox">
                <div class="tags" id="tags"></div>
                <input type="text" id="skillInput" placeholder="Type a skill (e.g. Frontend, Backend, SQL)"
                     />
            </div>

            <div class="suggestions" id="suggestions"></div>

            <div class="summary" id="summary"></div>
        </div>

    </section>
    <button id="addTeam" onclick="addMember()">ADD MEMBER</button>
    <button id="createTasks" onclick=pushMembers()>CREATE TASKS</button>
</div>
 <div id="AddedMemberTable">
    <table id="addedMembersTable">
        <thead id="addedMembersTableHead"> 
            <tr>
                <th>Name</th>
                <th>Availability</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody id="addedMembersTableBody">
            
        </tbody>
    </table>
 </div>
{% endblock %}
