{% extends 'masterTemplate.html' %}

{% block Centercontent %}
    <div id="addTasksForm">
    <h1>ADD NEW TASKS</h1>
    <section id="section1" class="addNewTaskSection">
        <div>
            <input type="text" id="taskName" name="taskName" class="taskFormInput"
                placeholder="Task Name" required>
            <input type="text" id="taskEffort" name="taskEffort" class="taskFormInput"
                placeholder="Effort Hours" required>
        </div>
        <div class="container">
            <div class="skills-box" id="skillsBox">
                <div class="tags" id="tags"></div>
                <input type="text" id="skillInput" placeholder="Type a skill (e.g. Frontend, Backend, SQL)"
                     />
            </div>

            <div class="suggestions" id="suggestions"></div>

            <div class="summary" id="summary"></div>
        </div>

    </section>
    <button id="addTask" onclick="addTask()">ADD TASK</button>
    <button id="createTasks" onclick=window.location.href="{{ url_for('createTasks') }}">CREATE TASKS</button>
</div>
 <div id="AddedTaskTable">
    <table id="addedTasksTable">
        <thead id="addedTasksTableHead"> 
            <tr>
                <th>Name</th>
                <th>Effort</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody id="addedTasksTableBody">
            
        </tbody>
    </table>
 </div>
{% endblock %}