{% extends 'masterTemplate.html' %}

{% block Centercontent %}
    <div id="addTasksForm">
    <h1>ADD NEW TASKS</h1>
    <section id="section1" class="addNewTaskSection">
        <div id="taskNameEffort">
            <input type="text" id="taskName" name="taskName" class="taskFormInput"
                placeholder="Task Name" required>
            <input type="text" id="taskEffort" name="taskEffort" class="taskFormInput"
                placeholder="Effort Hours" required>
        </div>
        <div class="PrioritySelection">
            <select name="SetPriority" id="SetPrioritySelection">
                <option value="1" class="setPriorityOptions">Very Low</option>
                <option value="2" class="setPriorityOptions">Low</option>
                <option value="3" class="setPriorityOptions">Medium</option>
                <option value="4" class="setPriorityOptions">High</option>
                <option value="5" class="setPriorityOptions">Very High</option>
            </select>

        </div>
        <div class="container">
            <div class="skills-box" id="skillsBox">
                <div class="tags" id="tags"></div>
                <input type="text" id="skillInput" placeholder="Type a skill (e.g. Frontend, Backend, SQL)"
                     />
            </div>

            <div class="suggestions" id="suggestions"></div>

            <div class="summary" id="summary"></div>
        </div>

    </section>
    <button id="addTask" onclick="addTask()">ADD TASK</button>
    <button id="createTasks" onclick=pushTasks()>Assign Tasks</button>
</div>
 <div id="AddedTaskTable">
    <table id="addedTasksTable">
        <thead id="addedTasksTableHead"> 
            <tr>
                <th>Name</th>
                <th>Effort</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody id="addedTasksTableBody">
            
        </tbody>
    </table>
 </div>
{% endblock %}