<!DOCTYPE html>
<html>

<head>
    <title>SmartFlow</title>
    <meta name="description" content="SmartFlow is an AI-powered workflow management system designed to optimize and automate business processes. It leverages machine learning algorithms to analyze data, identify bottlenecks, and suggest improvements for increased efficiency and productivity. With SmartFlow, businesses can streamline their operations, reduce manual tasks, and make data-driven decisions to enhance overall performance.">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='./resources/favicon.png')}}" type="image/x-icon">
</head>

<body>

    <header>
        <nav>
            <div onclick=window.location.href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='./resources/logo.png') }}" alt="Smart flow logo" class="header-logo">
            </div>
            <div>
                <button id="github-button" onclick="window.location.href='http://github.com/mgmehra2005/smartFlow'">GITHUB REPO</button>
            </div>
        </nav>
    </header>

    <main>
        <section id="left-section" class="main-section">
            {% block Leftcontent %}{% endblock %}
        </section>
        <section id="center-section" class="main-section">
            {% block Centercontent %}{% endblock %}
        </section>
        <section id="right-section" class="main-section">
            {% block Rightcontent %}{% endblock %}
        </section>
    </main>

    <footer>
        <center>SmartFlow by Matang Mehra. Published on {{ current_year }} <a href="https://github.com/mgmehra2005/smartFlow">GitHub</a></center>
    </footer>

    <script src="{{ url_for('static', filename='./script.js') }}"></script>
</body>

</html>